<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRX.ServiceMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SRX.ServiceMonitor.Properties.Settings>
            <setting name="ProcessNamesFilepath" serializeAs="String">
                <value>ProcessNames.txt</value>
            </setting>
            <setting name="CommentCharacter" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="RefreshSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="About_Link" serializeAs="String">
                <value>www.srgjanx.net</value>
            </setting>
            <setting name="About_AppName" serializeAs="String">
                <value>SRX Service Monitor</value>
            </setting>
        </SRX.ServiceMonitor.Properties.Settings>
    </applicationSettings>
</configuration>